.crisissection{
    padding: 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.crisis__title{
    color: #730000;
    padding-top: 70px;
}

.crisis__sub_title{
    color: #730000;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}
.crisis__card_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.crisis__card{
    padding: 15px;
}


.crisis__card_img{
    width: 200px;
    height: 200px;
    background-image: url("../images/scam.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    border: solid 5px #f1e3d9;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.171);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.scam{
    background-image: url("../images/scam.png");
}

.jobless{
    background-image: url("../images/jobless.png");
}

.infra{
    background-image: url("../images/infra.png");
}

.puplic{
    background-image: url("../images/puplic.png");
}

.crisis__card_img::after{
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgb(226,203,186);
background: linear-gradient(354deg, rgba(226,203,186,0.9472163865546218) 0%, rgba(255,255,255,0.2329306722689075) 65%);
transition: all .3s ease;

}

.crisis__card_img:hover::after{
    opacity: 0;
}

.crisis__card_title{
    color: #730000;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: all .3s ease;
}

.crisis__card_img:hover .crisis__card_title{
    background-color: #e6cfbdb6;
    padding: 10px 0;
}
