.login_app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
  }

  .login_form_wrapper{
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width:720px) {
    .login_form_wrapper{
      flex-direction: column;
      align-items: center;
    }
  }
  
  .form_profile img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
  }

  .login_form__container{
    padding: 10px;
    width: 100%;
    max-width: 300px;
  }

  .login-form {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 150px;
    position: relative;
  }


  .login-form .backto_home{
    position: absolute;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
  }

  .input-container input[type="text"],
  .input-container input[type="password"] {
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: all .2s ease;
    font-size: 16px;
    padding: 10px 5px;
  }

  .input-container input[type="text"]:focus,
  .input-container input[type="password"]:focus {
    border-bottom: 1px solid #fe8400;
    background-color: #fff !important;
    outline: none;
  }

  input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;
  }

  .button-container input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #aa0503;
    border: none;
    color: #fff;
    padding: 15px 20px;
    width: 100%;
    transition: all .2s ease;
    font-weight: 700;
    box-shadow: 5px 8px 10px rgb(0 0 0 / 19%);
    border-radius: 3px;
  }
  
  .button-container input[type="submit"]:hover {
    background: #fe8400;
    color: #fff;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: #fe8400;
  }