.bannersection{
    padding: 130px 0 30px 0;
}

.banner_container .slick-next{
    left: -25px;
    top: 43%;
    -webkit-box-shadow: 5px 8px 10px rgb(0 0 0 / 19%);
            box-shadow: 5px 8px 10px rgb(0 0 0 / 19%);
}

.banner_container .slick-prev{
    -webkit-box-shadow: 5px 8px 10px rgb(0 0 0 / 19%);
            box-shadow: 5px 8px 10px rgb(0 0 0 / 19%);
}

.banner_container .slick-next:before {
    content: url(".././../images/up-arrow.png");
}
.banner_container .slick-prev:before {
    content: url(".././../images/down-wrrow.png");
}
   
.banner_container .slick-dots{
  max-width: 20px;
  right: -25px;
  top: 40%;
}

.banner_container .slick-dots li{
    display: block;
}

.banner_container .slick-dots li.slick-active{
    border: solid 1px #fff;
    border-radius: 100%;
}

.banner_container .slick-dots li.slick-active button:before{
    color: #fff;
    opacity: 1;
}

.banner_container .slick-dots li button:before{
    color: #fff;
}

.banner__slider{
    position: relative;
}